@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.font-poppins,
label {
  font-family: "Poppins", sans-serif !important;
}

.font-figtree {
  font-family: "Figtree", sans-serif !important;
}

.text-primary {
  color: #eb4138;
}

input:focus {
  box-shadow: none !important;
}

.testimonial-section {
  background: linear-gradient(rgba(0, 0, 0, 0.678) 100%, rgba(0, 0, 0, 0.582) 0),
    url("https://i.postimg.cc/HLXLccjK/image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #5463ff !important;
}
.slider .swiper-pagination-clickable .swiper-pagination-bullet-active {
  width: 30px !important;
  height: 8px;
  border-radius: 10px 10px;
  transition: all ease-in-out 0.5s;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 40px !important;
}

.ant-menu-title-content {
  font-size: 16px !important;
  font-family: "Figtree", sans-serif !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-layout
  .ant-layout-sider-zero-width-trigger {
  top: 8px !important;
}
